@font-face {
    font-family: Lexend;
    src: url(../font/Lexend-SemiBold.ttf);
}
@font-face {
    font-family: Skranji;
    src: url(../font/Skranji-Bold.ttf);
}
@font-face {
    font-family: 'Lexend-extra';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lexend/v19/wlptgwvFAVdoq2_F94zlCfv0bz1WC7sRzLdneg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html,body {
    overflow-x: hidden; 
    font-family: "Lexend" !important;
    color: #082524;
    position: relative;
    height: 100%;
}
body {
    background: url('../img/bg-texturecolor.png');
    background-repeat: repeat-y;
    background-repeat: repeat-x;
}
.page-content {
    box-sizing: border-box;
    padding: calc(24px) calc(24px / 2) 60px calc(24px / 2) !important;
    padding-top: calc(94px);
    padding-right: calc(12px);
    padding-bottom: 60px;
    padding-left: calc(12px);
}
.link {
    color: #082524 !important;
}
.Skranji {
    font-family: "Skranji" !important;
}
.Lexend-extra {
    font-family: "Lexend-extra";
}
.text-brown {
    color: #7F7F4E !important;
}
.form-control {
    display: block;
    /* width: 812px; */
    height: 80px;
    padding: 0.47rem 0.75rem;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    color: #C59F83 !important;
    background-color: #FBE8DA !important;
    background-clip: padding-box;
    border: 1px solid #FBE8DA !important;
    border-radius: 20px !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

::placeholder {
    color: #C59F83 !important;
  }
.font-size-28 {
    font-size: 28px !important;
}
.font-size-32 {
    font-size: 32px !important;
}
.font-size-36 {
    font-size: 36px !important;
}
.font-size-48 {
    font-size: 48px !important;
}
.font-size-64 {
    font-size: 64px !important;
}
.font-size-65 {
    font-size: 65px !important;
}
.header-gradient {
    top: 0px;
    left: 0px;
    position: absolute;
    padding: 0;
}
.diet {
    bottom: 15px;
    position: absolute;
    width: 100%;
}
.vr {
    border:         none;
    border-left: 4px solid #C59F83;
    height:         15vh;
    width:          1px; 
    margin: 5px 10px;
}
.ref-link {
    font-size: 28px;
}
.head-dino {
    font-size: 48px;
}
.highlight {
    top: -600px;
    left: 970px;
    width: 100%;
    position: absolute;
}
.m--4 {
    margin: 1.5rem !important;
}
.pic-slide {
    border-radius: 20px;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

@media screen and (max-width: 2560px) {
    .highlight {
        left: 1270px !important;
    }
}
@media screen and (max-width: 1920px) {
    .highlight {
        top: -400px !important;
        left: 870px !important;
    }
}
@media screen and (max-width: 1400px) { 
    .bg1 {
        width: 100% !important;
        height: 100% !important;
        background-size: contain !important;
    }
    .d-pic {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
    .d-content {
        margin-left: 25px !important;
        margin-right: 25px !important;
    }
    .font-size-24 {
        font-size: 16px !important;
    }
    .font-size-28 {
        font-size: 18px !important;
    }
    .font-size-32 {
        font-size: 22px !important;
    }
    .font-size-36 {
        font-size: 26px !important;
    }
    .font-size-48 {
        font-size: 36px !important;
    }
    .font-size-64 {
        font-size: 54px !important;
    }
    .font-size-65 {
        font-size: 55px !important;
    }
    .diet {
        width: 100%;
        margin-bottom: 15px;
    }
    .highlight {
        top: -450px !important;
        left: 570px !important;
    }
    .m--4 {
        margin: 0.5rem !important;
    }
    .vr {
        border: none;
        border-left: 4px solid #C59F83;
        height: 15vh;
        width: 1px;
        margin: 5px 2.5px;
    }
}

@media screen and (max-width: 1024px) { 
    .highlight {
        top: -325px !important;
        left: 125% !important;
        width: 100% !important;
        height: auto !important;
    }
    .content {
        margin-top: 80px !important;
    }
    .m-4 {
        margin: 0.65rem!important;
    }
    .diet {
        position: static !important;
        width: 100%;
        margin-bottom: 25px;
    }
    .d-pic {
        margin-top: 280px !important;
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    
}
@media screen and (max-width: 820px) { 
    .highlight {
        top: -235px !important;
        left: 125% !important;
        width: 100% !important;
        height: auto !important;
    }
    .d-pic {
        margin-top: 200px !important;
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 600px) {
    body {
        font-size: 87% !important;
    }
    .diet {
        position: static !important;
    }
    .vr {
        display: none;
    }
    .nhr {
        border: 1px solid #C59F83;
        width: 100%;
        margin: 0px 15px 10px
    }
    .ref-link {
        font-size: 14px !important;
    }
    .head-dino {
        font-size: 32px !important;
    }
    .highlight {
        top: -105px !important;
        left: 155% !important;
    }
}
@media screen and (max-width: 400px) { 
    .d-pic {
        margin-top: 80px !important;
    }
}

